body{
    background-color: blueviolet;
}

p {
    color: yellow;
}

.ourSquare {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: red
}

.ourRow {
  display: flex; 
  flex-direction: row;  
}